# === FICHIERS LOGS & ENV ===
*.log
npm-debug.log*
**/.env

# === BACKEND (Node.js) ===
meditime-backend/node_modules/
meditime-backend/.env

# === FRONTEND (Flutter) ===
meditime_frontend/.dart_tool/
meditime_frontend/.idea/
meditime_frontend/.packages
meditime_frontend/build/
meditime_frontend/pubspec.lock
meditime_frontend/flutter_*.png

# Android
meditime_frontend/android/.gradle/
meditime_frontend/android/app/build/

# iOS
meditime_frontend/ios/Flutter/Flutter.framework
meditime_frontend/ios/Flutter/Flutter.podspec
meditime_frontend/ios/Runner.xcworkspace/
meditime_frontend/ios/build/
meditime_frontend/ios/Pods/

# Web
meditime_frontend/web/.dart_tool/

# macOS
meditime_frontend/macos/Flutter/ephemeral/
meditime_frontend/macos/build/

# Linux
meditime_frontend/linux/build/

# Windows
meditime_frontend/windows/build/

# Autres fichiers sensibles ou inutiles
*.swp
*.swo
.DS_Store
Thumbs.db